<body style="background-image: linear-gradient(to bottom, #ffffff, #eaf9ff, #b4fbff, #64ffff, #00ffe8);">
{% extends 'includes/layout.html' %}




{% block body %}

<main class="container">
  <div>
    <h1>EmpowHER</h1>
  </div>


  <div class="p-5 rounded mt-1">
    <div class="row">


      <!-- One Item Starts Here -->
      <div class="col-lg-3 mb-3">
        <div class="card">
          <div class="card-header" style="background-image: linear-gradient(to right top, #55b8ff, #00d5ff, #00ece0, #37fb9c, #c8ff4e);">
            Startup Ideas
          </div>
          <div class="card-body" style="background-image: linear-gradient(to right top, #83cbff, #71dff8, #88efe4, #b7f9ce, #ecffc2);">
            <h5 class="card-title">Generate Startup Ideas💡</h5>
            <p class="card-text">Generate the Startup Ideas for any type of Startup, simply enter the type of startup to get started.</p>
            <a href="/ideas" class="btn btn-info" style="color :aliceblue" style="color :aliceblue">Get Started</a>
          </div>
        </div>
      </div>
      <!-- One Item Ends here -->


      <!-- One Item Starts Here -->
      <div class="col-lg-3 mb-3">
        <div class="card">
          <div class="card-header" style="background-image: linear-gradient(to right top, #55b8ff, #00d5ff, #00ece0, #37fb9c, #c8ff4e);">
            Code Explainer
          </div>
         <div class="card-body" style="background-image: linear-gradient(to right top, #83cbff, #71dff8, #88efe4, #b7f9ce, #ecffc2);">
            <h5 class="card-title">Code Explainer👩‍💻</h5>
            <p class="card-text">Are you trying to Understand a Piece of Code?Let this tool to help you along </p>
            <a href="/code-explain" class="btn btn-info" style="color :aliceblue">Get Started</a>
          </div>
        </div>
      </div>
      <!-- One Item Ends here -->




      <!-- One Item Starts Here -->
      <div class="col-lg-3 mb-3">
        <div class="card">
          <div class="card-header" style="background-image: linear-gradient(to right top, #55b8ff, #00d5ff, #00ece0, #37fb9c, #c8ff4e);">
           BugFix
          </div>
         <div class="card-body" style="background-image: linear-gradient(to right top, #83cbff, #71dff8, #88efe4, #b7f9ce, #ecffc2);">
            <h5 class="card-title">Fix your Code🐞</h5>
            <p class="card-text">Having Bugs or Errors in your code? Just Paste the code to get it Fixed</p>
            <a href="/bugfix" class="btn btn-info" style="color :aliceblue">Get Started</a>
          </div>
        </div>
      </div>
      <!-- One Item Ends here -->


      <!-- One Item Starts Here -->
      <div class="col-lg-3 mb-3">
        <div class="card">
          <div class="card-header" style="background-image: linear-gradient(to right top, #55b8ff, #00d5ff, #00ece0, #37fb9c, #c8ff4e);">
            Name Generator
          </div>
         <div class="card-body" style="background-image: linear-gradient(to right top, #83cbff, #71dff8, #88efe4, #b7f9ce, #ecffc2);">
            <h5 class="card-title">Generate a name for your Startup👩‍🏭</h5>
            <p class="card-text">Looking for an Creative Name for your startup?Let this tool to find the perfect name for your startup </p>
            <a href="/startup-name" class="btn btn-info" style="color :aliceblue">Get Started</a>
          </div>
        </div>
      </div>
      <!-- One Item Ends here -->


      <!-- One Item Starts Here -->
      <div class="col-lg-3 mb-3">
        <div class="card">
          <div class="card-header" style="background-image: linear-gradient(to right top, #55b8ff, #00d5ff, #00ece0, #37fb9c, #c8ff4e);">
            Business Pitch
          </div>
         <div class="card-body" style="background-image: linear-gradient(to right top, #83cbff, #71dff8, #88efe4, #b7f9ce, #ecffc2);">
            <h5 class="card-title">Business Idea Pitch ‍💼 </h5>
            <p class="card-text"> Create some ideas for a quick one paragraph pitch for your business idea, describe your idea and produce useful pitches. </p>
            <a href="/business-pitch" class="btn btn-info" style="color :aliceblue">Get Started</a>
          </div>
        </div>
      </div>
      <!-- One Item Ends here -->



    </div>
  </div>
</main>

{% endblock %}



</body>